form(action="#", method="post", id="contact-form")
	input(type="text", name="_gotcha", class="hidden")
	input(type="hidden", name="subject", value="Email from www.smbkr.xyz")
	input(type="text", name="name", placeholder="Your name")
	input(type="text", name="email", placeholder="Your email address")
	textarea(name="message", placeholder="Your message")
	button#send-button Hello