doctype
html
	head
		link(rel="stylesheet" href="/main.css")
		script(src="main.js")
		title Stuart M. Baker &ndash; Web Developer
	body
		#intro
			h1 Stuart M. Baker
			h2 Web Developer

		#skills
			ul
				li LRDf
				li rhuowe
				li ashduagt4
				li urg24tgqa
				li jhqgrhjk3gt
				li asjkdhaskjd
				li jkegthwejt
				li jkaghjf
				li jkeghjesgthj
				li rjkegjhr
				li egtrwjktq
				li ajhghjea
				li tjhwgethjwe
				li hthjwgtwg
				li gthj
				li wghtj3rhyj
				li tegjr
				li tghrwhjtg

		#history
			each item in items
				include _item.jade
		
		include _contact.jade