doctype
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="style/main.css")
		title Stuart M. Baker &ndash; Web Developer
	body
		section.section#intro
			.container
				.heading
					h1.title Stuart M. Baker
					h2.subtitle Web Developer
				.content.is-medium
					p Hi, I'm Stuart. I'm a web developer currently living and working in Edinburgh. I work with PHP, Javascript, HTML5, CSS3 & #[a(href="#skills") other technologies] to produce reponsive, well structured and secure web applications.
				.content
					p My skills are all self-taught. I've been working professionally as a developer for about a year, and learning for at least five years on-and-off.

		section.section#skills
			.container.is-clearfix
				h3.subtitle Skills
				ul
					each skill in skills
						li= skill

		section.section#history
			.container
				each job, index in jobs
					include _partials/job.jade

		section.section#contact
			.container.is-clearfix
				include _partials/contact.jade

		section.section#footer
			.container
				span &copy; 2016 Stuart M. Baker.
				a(href="#intro").is-pulled-right To top?
		
		if environment === 'production'
			script(src="//code.jquery.com/jquery-3.1.0.min.js")
		else
			script(src="//code.jquery.com/jquery-3.1.0.js")
		
		script(src="js/main.js")