.heading
{
	margin-bottom: 10px;
}

.is-hidden,
.hidden
{
	display: none;
}

.is-invisible
{
	visibility: hidden;
}

h3
{
	text-transform: uppercase;
}

.proper-title
{
	font-style: italic;
}

.callout-bg
{
	background: $grey-lighter;
}

a,
a:visited
{
	color: $purple;
}