#skills
{
	ul
	{
		display: flex;
		flex-wrap: wrap;
		list-style: circle;

		li
		{
			flex: 0 0 calc(25% - 2em);
			margin: 0 1em;
			@media screen and (max-width: $desktop)
			{
				flex: 0 0 calc(33% - 2em);
			}
			@media screen and (max-width: $tablet)
			{
				flex: 0 0 calc(50% - 2em);
			}
		}
	}
}
