#skills
{
	ul
	{
		display: flex;
		flex-wrap: wrap;
		list-style: circle;
		word-wrap: break-word;

		li
		{
			word-wrap: break-word;
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: calc(20% - 2em);
			margin: 0 1em;
			@media screen and (max-width: $desktop)
			{
				flex-basis: calc(25% - 2em);
			}
			@media screen and (max-width: $tablet)
			{
				flex-basis: calc(33% - 2em);
			}
			@media screen and (max-width: 400px)
			{
				flex-basis: calc(50% - 2em);
			}
		}
	}
}
