<style type="text/css">
    .site-header {
    background-image: linear-gradient(black, transparent); }
    
    .site-header a {
    color: #fff; }
    
    .site-header a:hover {
    color: #fff; }
    
    .site-header nav a {
    color: #fff; }
    
    .site-header nav a:hover,
    .site-header nav a:focus,
    .site-header nav a:active {
    color: #fff;
    border-bottom: 2px solid #fff; }
    
    .bgimg {
    background-image: url("/images/hero.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4; }
    
    body.site {
    background-color: #000; }
    
    footer {
    background-color: transparent;
    color: #fff;
    border-top: #000; }
    
    small {
    opacity: 0.5; }
    
    small:hover {
    opacity: 1; }
  </style>
  <div class="bgimg">&nbsp;</div>