// Custom CSS rules begin here
$x-red: #D97179;
$x-yellow: #F2CC85;
$x-blue-dark: #344F59;
$x-blue-mid: #6DA0A6;
$x-blue-light: #96CCD9;
$x-off-white: #fffff1;

.home { margin-top: 2em; }
.home p { color: white; }

.grid-size, .item { width: 49%; margin-bottom: 1%; }
.gutter-size { width: 2%; }
.item--width2 { width: 100%; }
.item img { width: 100% }
// End of custom CSS rules