doctype
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="style/smbkr.css")
		title Stuart M. Baker&mdash;Web Developer
		meta(name="author", content="Stuart M. Baker")
		meta(name="description", content="I'm Stuart, a full-stack web developer, based in the UK. I work with PHP & JavaScript.")
	body
		section.section#intro
			.container
				.heading
					h1.title.is-1 Stuart M. Baker
					h2.subtitle.is-3 Web Developer
				.content.is-medium
					p Hi, I'm Stuart. I'm a web developer currently living and working in Edinburgh. I work with PHP, Javascript, HTML5, CSS3 & #[a(href="#skills") other technologies] to produce reponsive, well structured and secure web applications.
				.content
					p My skills are all self-taught. I've been working professionally as a developer for about a year, and learning for at least five years in my spare time. The first website I can remember making was a #[span.proper-title Chrono Trigger] fan site when I was 12. Sadly, it's no longer online. My other interests include #[a(href="https://photos.smbkr.xyz/") photography], cooking &amp; #[span#bd d]ad jokes.

		section.section.callout-bg#skills
			.container.is-clearfix
				h3.subtitle.is-4 Skills
				ul
					each skill in skills
						li= skill

		section.section#history
			.container
				h3.subtitle.is-4 Work History
				each job, index in jobs
					include _partials/job.jade
				.item#other-history
					.heading
						h5.title.is-5 Other Skills &amp; Previous Experience
					.content
						p Prior to beginning my career as a developer, I worked in finance and insurance, and in retail before that.
						p I studied at #[span.proper-title the University of Queensland], graduating in 2014 with a Bachelor of Arts, majoring in #[em journalism &amp; mass-communication] and #[em German]. I also spent a year studying at #[span.proper-title Albert-Ludwigs Universität, Freiburg, Germany], in order to focus on my German language skills.
						p If you'd like to know more, you can download or print #[a(href='https://drive.google.com/open?id=0B_prtqli0jEybTVIb1I3enh1WWs') a PDF copy of my CV], or if you'd like to get in touch, just use #[a(href='#contact') the form below].

		section.section#projects
			.container
				h3.subtitle.is-4 Projects
				each project, index in projects
					include _partials/project.jade

		section.section.callout-bg#contact
			.container.is-clearfix
				h3.subtitle.is-4 Contact Me
				include _partials/contact.jade

		section.section#footer
			.container
				div#about This site was built with #[a(href='https://harpjs.com/') harp.js], using #[a(href='http://jade-lang.com/') jade] and #[a(href='http://sass-lang.com/') sass]. You can #[a(href='https://github.com/smbkr/www.smbkr.xyz') view the source code on GitHub].
				span &copy; 2016 Stuart M. Baker.
				a(href="#intro")#top.is-pulled-right To top?
		
		if environment === 'production'
			script(src="//code.jquery.com/jquery-3.1.0.min.js")
		else
			script(src="//code.jquery.com/jquery-3.1.0.js")
		script(src="js/smbkr.js")
