---
layout: default
jquery: true
---
<div class="post">
  <header class="post-header">
    <h1 class="h2">{{ page.title }}</h1>
  </header>
  <article class="post-content">
  {{ content }}
    <div class="grid">
      <div class="grid-size"></div>
      <div class="gutter-size"></div>
    {% for photo in site.[page.gallery] reversed %}
      <div class="item{% if forloop.first %} item--width2{% endif %}">
        <a href="/images/photos/{{ photo.file }}-1280.jpg" title="{{ photo.title}}, {{ photo.year }}">
        <img src="/images/photos/{{ photo.file }}{% if forloop.first %}-960.jpg{% else %}-640.jpg{% endif %}" alt="{{ photo.title }}, {{ photo.year }}" />
      </a>
      </div>
    {% endfor %}
    </div>
  </article>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>

<script>
  $('.grid').imagesLoaded( function(){
    $('.grid').masonry({
    // options
    percentPosition: true,
    itemSelector: '.item',
    columnWidth: '.grid-size',
    gutter: '.gutter-size'
    });
  });
</script>